/*style.css*/
body{
	margin: 0 auto;
	width: 980px;
	height: 1386px;

}
p{

	margin:0;
}

.clearfix:after {
	content:"\200B"; 
	display:block; 
	height:0; 
	clear:both; 
}

.clearfix { 
	*zoom:1; 
}
.hide{
	display: none;
}
div.container{
	width: 892px;
	margin: auto;
}
.header{
	height: 61px;
	width: 892px;
	border-bottom: 2px solid #938E8C;
	font-family: "黑体";
	font-size: 12px;
}
.header>.logo{
	float: left;
	background-color: #D45C5C;
	color: #fff;
	height: 61px;
	width: 110px;
	text-align: center;
}
.header>.logo p{
	padding-top: 45px;
}
.header>.time{
	float: right;
	color: #D45C5C;
	text-align: right;
	padding-top: 45px;
}
.img-lt{
	float: left;
	margin-top: 30px;
	height: 301px;
	width: 641px;
	background: url(../img/img1.jpg);
}
.cover{
	width: 191px;
	height: 301px;
	opacity:0.3;
}
.left-cover{	
	float: left;
	background-color: green;	
}
.right-cover{
	background-color: red;
	float: right;
}
.pabout{
	float: right;
	width: 203px;
	border-top: 2px solid #CB7F90;
	margin-top: 30px;
}
.pabout>.ptitle>p{
	font-family: "微软雅黑";
	font-size: 24px;
	color: #000;
	text-decoration: underline;
	line-height: 40px;
}
.pabout>.pintro>p{
	font-family: "楷体";
	font-size: 12px;
	color: #676767;
	line-height: 14px;
	font-style: italic;
}
.pabout>.pno>p{
	font-family: "微软雅黑";
	font-size: 116px;
	font-style: oblique;
	color: #75b86b;
}
.pabout>.pdate p{
	font-family: "微软雅黑";
	
}
.pabout>.pdate>.day{
	float: left;
	font-size: 55px;
	color: #cc8091;
}
.pabout>.pdate>.sj{
	float: left;
	margin-top: 18px;
	margin-left: 5px;
}
.pabout>.pdate>.sj>.sj1{
	font-size: 21px;
	color: #cc8091;
}
.pabout>.pdate>.sj>.sj2{
	font-size: 12px;
	color: #676767;
}
.text{
	width: 220px;
	float: left;
	margin-right: 30px;
}
.text>.text-title{
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}
.text>.text-title1{
	color: #418c59;
}
.text>.text-title2{
	color: #d2994f;
}
.text>.text-title3{
	color: #cc7680;
}
.text>.text-content{
	font-family: "宋体";
	font-size: 12px;
	color: #767777;
	line-height: 18px;
}
.cont-percent{
	float: left;
	margin-top: 46px;
}
.cont-percent>p{
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 18px;
	color: #121815;
	opacity: 0.7;
	
}
.cont-percent>p span{
	color: #cd4a48;
	font-style: italic;
}
/*.tech-article{
	width: 892px;
	padding-top: 30px;
}*/
.tech1{
	width: 414px;
	float: left;
	padding-top: 60px;
}
.tech1>.tech1-title{
	font-family: "黑体";
	font-weight: bold;
	color: #11456b;
	border-bottom: 2px solid #11456b;
}
.tech1>.tech1-title>.entitle{
	font-size: 42px;
	line-height: 40px;
}
.tech1>.tech1-title>.entitle>span{
	font-size: 72px;
	color: #f5e327;
	font-style: italic;
}
.tech1>.tech1-title>.cntitle{
	font-size: 33px;
	padding: 6px 0;

}
.tech1>.tech1-content{
	padding: 20px 0;
	font-size: 12px;
	color: #767777;
	font-family: "宋体";
	line-height: 18px;
}
.tech1>.tech1-content>.tech1-text>.firstChar{
	font-size: 70px;
	color: #f5e327;
	font-family: "微软雅黑";
	padding: 20px 10px 30px 0;
	float: left;
}
.tech1>.tech1-content>.tech1-text{
	position: relative;
}
.tech1>.tech1-content>.tech1-text>.tech1-pic{
	height: 280px;
	width: 150px;
	float: right;
	margin-top: 90px;
	padding: 20px 0 20px 20px;
}
.tech2{
	width: 458px;
	float: right;
	margin-left: 20px;
	padding-top: 60px;

}
.tech2 .tech2-pic{
	background: url(../img/img3.png) no-repeat;
	width: 458px;
	height: 61px;
	padding-top: 214px;
}
.tech2 .tech2-pic .tech2-pic-text{
	width: 450px;
	height: 53px;
	background:rgba(0,0,0,0.3);
	padding: 4px;
	overflow: hidden;
}
.tech2 .tech2-pic .tech2-pic-text .big-txt{
	font-family: "微软雅黑";
	font-size: 26px;
	color: #fff;
	border-left: 4px solid #72b16a;
	padding: 6px 0 6px 16px;
	margin: 4px;
	float: left;
}
.tech2 .tech2-pic .tech2-pic-text .sm-txt{
	color: #72b16a;
	font-family: "微软雅黑";
	font-size: 12px;
	font-style: italic;
	padding-top: 26px;
	word-spacing: 1.4;
}
.tech2 .tech2-intro{
	background-color: #EDECD6;
	margin-top: 25px;
}
.tech2 .tech2-intro .guide{
	padding: 20px;
}
.tech2 .tech2-intro .guide ul{
	font-size: 16px;
	font-family: "宋体";
	color: #5a5b5b;
	line-height: 26px;
	list-style-image: url(../img/list.png);

}
.tech2 .tech2-intro .guide ul li>span{
	font-size: 12px;
	font-style: italic;
}
.tech2 .tech2-intro .mark{
	width: 260px;
	height: 160px;
	background-color: #D45C5C;
	padding: 15px 10px 0px;
	color: #fff;
	float: left;
}
.tech2 .tech2-intro .mark .zero{
	font-size: 110px;
	font-family: "微软雅黑";
	float: left;
	border-right: 4px solid #fff;
}
.tech2 .tech2-intro .mark .sm-mark{
	float: right;
	padding-left: 10px;
}
.tech2 .tech2-intro .mark .sm-mark .nums{
	font-size: 21px;
	font-family: "黑体";
	font-style: italic;
	line-height: 35px;
	width: 175px;
	margin-top: 20px;
}
.tech2 .tech2-intro .mark .sm-mark .hw{
	/*float: right;*/
	font-family: "黑体";
	font-size: 12px;
	line-height: 15px;
	width: 175px;
}
.tech2 .tech2-intro .last-p p.nor{
	float: right;
	width: 148px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-family: "黑体";
	font-style: italic;;
	line-height: 22px;
	color: #5a5b5b;
}
.tech2 .tech2-intro .last-p p.big{
	font-family: "黑体";
	font-size: 72px;
	color: #d45d5c;
}
.tech2 .tech2-intro .last-p p.big1{
	float: left;
	width: 30px;
	height: 30px;
}
.tech2 .tech2-intro .last-p p.big2{
	float: right;
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
}
.footer{
	height: 61px;
	width: 892px;
	border-top: 2px solid #938E8C;
	font-family: "黑体";
	font-size: 12px;
	text-align: right;
	color: #d45d5c;
}